div {
	font-family: 'Josefin Slab', serif;
	color: #424242;
}

a {
	text-decoration: none;
	color: #424242;
}

a:hover {
	color: #BDBDBD;
}

.empty {
	height: 200px;
}

#title {
	font-size: 49px;
	padding: 30px;
}

#content {
	font-size: 30px;
	padding: 20px;
}

.center {
	margin:0 auto;
	text-align: center;
}