body {
	background-color: #DDD;
}

div {
	font-family: 'Josefin Slab', serif;
	color: #424242;
}

a {
	text-decoration: none;
	color: #424242;
}

a:hover {
	color: #BDBDBD;
}

#content {
	position: relative;
	top:27%;
  left:-5%;
  width:110%;
	box-shadow: 0 4px 16px #BBB, 0 -4px 16px #BBB;
	background-color: #FFF
}

#title {
	font-size: 54px;
	padding: 40px;
}

#text {
	font-size: 36px;
}

#social {
	padding: 40px;
}

.center {
	margin:0 auto;
	text-align: center;
}